version: '3.8'
services:
  app:
    image: node:24
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "corepack enable && pnpm install && pnpm dev --host 0.0.0.0 --port 3000"
