.layout {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	height: 4rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 1rem;
}

.content {
	flex: 1;
	width: 100%;
}
